[Desktop Entry]
Type=Service
Exec=kwalletd
X-KDE-ServiceTypes=
# It is a server
X-DBUS-StartupType=Unique
X-KDE-StartupNotify=false
Name=Wallet Server
Name[gl]=Servidor de carteira
Name[kk]=Әмиян сервері
Name[nds]=Knipp-Server
Name[pt]=Servidor da Carteira
Name[pt_BR]=Servidor da Carteira
Name[uk]=Сервер торбинки
Comment=Wallet Server
Comment[gl]=Servidor de carteira
Comment[kk]=Әмиян сервері
Comment[nds]=Knipp-Server
Comment[pt]=Servidor da Carteira
Comment[pt_BR]=Servidor da Carteira
Comment[uk]=Сервер торбинки
