[Desktop Entry]
Type=Service
Exec=kwalletd
X-KDE-ServiceTypes=
# It is a server
X-DBUS-StartupType=Unique
X-KDE-StartupNotify=false
Name=Wallet Server
Name[ar]=خادم المحفظة
Name[bn]=ওয়ালেট সার্ভার
Name[bn_IN]=Wallet সার্ভার
Name[ca]=Servidor de carteres
Name[csb]=Serwera Wallet
Name[da]=Wallet-server
Name[de]=Digitale Brieftasche
Name[el]=Εξυπηρετητής πορτοφολιού
Name[es]=Servidor de monedero
Name[et]=Turvalaeka server
Name[eu]=Zorro-zerbitzua
Name[fi]=Lompakkopalvelin
Name[fr]=Serveur de portefeuille
Name[gl]=Servidor de carteira
Name[gu]=વોલેટ સર્વર
Name[hi]=वालेट सर्वर
Name[hsb]=Móšnjowy serwer
Name[is]=Veskisþjónn
Name[it]=Server portafoglio
Name[ja]=ウォレットサーバ
Name[kk]=Әмиян сервері
Name[km]=ម៉ាស៊ីន​បម្រើ​កាបូប
Name[kn]=ಹಸುಬೆಚೀಲ (ವಾಲೆಟ್) ಪರೀಚಾರಕ (ಸರ್ವರ್)
Name[ko]=지갑 서버
Name[lv]=Maka serveris
Name[ml]=വോളെറ്റ് സര്‍വര്‍
Name[nb]=Lommebok-tjener
Name[nds]=Knipp-Server
Name[nl]=Portefeuilleserver
Name[pa]=ਵਾਲਿਟ ਸਰਵਰ
Name[pl]=Serwer Portfela
Name[pt]=Servidor da Carteira
Name[pt_BR]=Servidor da carteira
Name[ro]=Server de portofel
Name[sl]=Strežnik za listnico
Name[sv]=Plånboksserver
Name[th]=แม่ข่ายบริการ Wallet
Name[tr]=Cüzdan Sunucusu
Name[uk]=Сервер торбинки
Name[wa]=Sierveu Wallet
Name[x-test]=xxWallet Serverxx
Name[zh_CN]=钱包服务器
Name[zh_TW]=錢包伺服器
Comment=Wallet Server
Comment[ar]=خادم المحفظة
Comment[bn]=ওয়ালেট সার্ভার
Comment[bn_IN]=Wallet সার্ভার
Comment[ca]=Servidor de carteres
Comment[csb]=Serwera Wallet
Comment[da]=Wallet-server
Comment[de]=Dienst für die digitale Brieftasche
Comment[el]=Εξυπηρετητής πορτοφολιού
Comment[es]=Servidor de monedero
Comment[et]=Turvalaeka server
Comment[eu]=Zorro-zerbitzua
Comment[fi]=Lompakkopalvelin
Comment[fr]=Serveur de portefeuille
Comment[gl]=Servidor de carteira
Comment[gu]=વોલેટ સર્વર
Comment[hi]=वालेट सर्वर
Comment[hsb]=Móšnjowy serwer
Comment[is]=Veskisþjónn
Comment[it]=Server portafoglio
Comment[ja]=ウォレットサーバ
Comment[kk]=Әмиян сервері
Comment[km]=ម៉ាស៊ីន​បម្រើ​កាបូប
Comment[kn]=ಹಸುಬೆಚೀಲ (ವಾಲೆಟ್) ಪರೀಚಾರಕ (ಸರ್ವರ್)
Comment[ko]=지갑 서버
Comment[lv]=Maka serveris
Comment[ml]=വോളെറ്റ് സര്‍വര്‍
Comment[nb]=Lommebok-tjener
Comment[nds]=Knipp-Server
Comment[nl]=Portefeuilleserver
Comment[pa]=ਵਾਲਿਟ ਸਰਵਰ
Comment[pl]=Serwer Portfela
Comment[pt]=Servidor da Carteira
Comment[pt_BR]=Servidor da carteira
Comment[ro]=Server de portofel
Comment[sl]=Strežnik za listnico
Comment[sv]=Plånboksserver
Comment[th]=แม่ข่ายบริการ Wallet
Comment[tr]=Cüzdan Sunucusu
Comment[uk]=Сервер торбинки
Comment[wa]=Sierveu Wallet
Comment[x-test]=xxWallet Serverxx
Comment[zh_CN]=钱包服务器
Comment[zh_TW]=錢包伺服器
