[Desktop Entry]
Type=Service
Exec=kwalletd
X-KDE-ServiceTypes=
# It is a server
X-DBUS-StartupType=Unique
X-KDE-StartupNotify=false
Name=KWallet Daemon Module
Name[nds]=Knippdämoon-Moduul
Name[pt]=Módulo de Serviço da KWallet
Name[pt_BR]=Módulo de Serviço da KWallet
Name[uk]=Модуль фонової служби KWallet
Comment=KWallet daemon module for KDED
Comment[nds]=Knippdämoon-Moduul för KDED
Comment[pt]=Módulo do servidor KWallet para o KDED
Comment[pt_BR]=Módulo do servidor KWallet para o KDED
Comment[uk]=Модуль фонової служби KWallet для KDED
