[Desktop Entry]
Type=Service
Exec=kwalletd5
X-KDE-ServiceTypes=
# It is a server
X-DBUS-StartupType=Unique
X-KDE-StartupNotify=false
Name=Wallet Server
Name[x-test]=xxWallet Serverxx
Comment=Wallet Server
Comment[x-test]=xxWallet Serverxx
