[Desktop Entry]
Type=Service
Exec=kwalletd5
X-KDE-ServiceTypes=
# It is a server
X-DBUS-StartupType=Unique
X-KDE-StartupNotify=false
Name=Wallet Server
Name[nl]=Portefeuilleserver
Name[uk]=Сервер торбинки
Name[x-test]=xxWallet Serverxx
Comment=Wallet Server
Comment[nl]=Portefeuilleserver
Comment[uk]=Сервер торбинки
Comment[x-test]=xxWallet Serverxx
