# SPDX-FileCopyrightText: None
# SPDX-License-Identifier: CC0-1.0

[Desktop Entry]
Type=Application
Exec=kwalletd5
Name=KDE Wallet Service
Name[ar]=خدمة حافظة كدي
Name[az]=KDE Cüzdanı Xidməti
Name[ca]=Servei de carteres de KDE
Name[es]=Servicio de carteras de KDE
Name[fr]=Serveur de portefeuilles de KDE
Name[hu]=KDE jelszókezelő szolgáltatás
Name[ia]=Servicio de Portafolio de KDE
Name[nl]=KDE Portefeuilleservice
Name[sl]=Storitev KDE listnice
Name[sv]=KDE:s plånbokstjänst
Name[uk]=Служба торбинок KDE
Name[x-test]=xxKDE Wallet Servicexx
NoDisplay=true
Icon=kwalletmanager
